<script src="/javascripts/connect.js"></script>

<script>
function getStores() {
return [
{{#each stores}}
   "{{this.id}}",
{{/each}}
	];
	// TBD MWA: Is the above a disgraceful hack or the only way of communicating forward to jquery from the generating page?
	// TBD you could use ajax
}
</script>
<div id=left>
<h2>Unallocated Items</h2>
<ul id="from">
    {{#each mydata}}
    	    <li id={{this.thingId}}> {{this.attributes.name}} </li>
    {{/each}}
</ul>
</div>    
 
{{#each stores}}
<div id="right">
<h2>Buy at {{this.name}}
<a href="/plantrip?storeId={{this.id}}">plan trip</a>
{{#if this.store.attributes.tripDate}} 
 (Currently {{this.store.attributes.tripDate}})
{{else}}
 (Currently unset)
{{/if}} 
</h2>
<ul id="{{this.id}}">
{{#each this.items}}
<li id={{this.thingId}}> {{this.attributes.name}}</li>
{{/each}}
</ul>
</div>
{{/each}}