<script>
  function getThingId() {
     return "{{store.thingId}}"
  }
</script>
<script src="/javascripts/shoppingTrip.js"></script>

<h1>Plan trip to {{store.attributes.name}}
{{#if store.attributes.position.address}}
 at {{store.attributes.position.address}}
{{else}}
  <a href=/chooseloc?id={{store.thingId}}&name={{store.attributes.name}}>(locate this store)</a>
{{/if}}
</h1>
{{#if items.length}}
to buy the following:
<ul>
{{#each items}}
<li>
	{{this.attributes.name}}
</li>
{{/each}}
</ul>
{{else}}
no items currently allocated
<p>
{{/if}} 
<form> 
on: <input type="date" id=tripDate>
</form>
<p>
<button type="button" onclick="sendTripDate()">Fix Date</button> 
<div id=currentFixedDate>
{{#if store.attributes.tripDate}} 
 (Currently {{store.attributes.tripDate}})
{{else}}
 (Currently unset)
{{/if}} 
</div>
<p>
  <a href="/notify?id={{store.thingId}}">Notify Route Planner</a>
<p>
  <button type="button" onclick="cancelRemoveTrip()">Cancel Trip and Remove Items</button> 
<p>
  <button type="button" onclick="returnAlloc()">Return to planning overview</button> 

