<script>
  function getThingId() {
     return "{{store.thingId}}"
  }
</script>
<script src="/javascripts/shoppingTrip.js"></script>

<h1>Plan trip to {{store.attributes.name}}</h1>

to buy the following:
<ul>
{{#each items}}
<li>
	{{this.attributes.name}}
</li>
{{/each}}
</ul>

<form> 
on: <input type="date" id=tripDate>
</form>
<button type="button" onclick="sendTripDate()">Fix Date</button> 
{{#if store.attributes.tripDate}} 
 (Currently {{store.attributes.tripDate}})
{{else}}
 (Currently unset)
{{/if}} 
<button type="button" onclick="notifyRoutePlanner()">Notify Route Planner</button> 
<button type="button" onclick="cancelRemoveTrip()">Cancel Trip and Remove Items</button> 
<button type="button" onclick="returnAlloc()">Return to allocation page</button> 

